<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=pageTitle%></title>
    <link rel="stylesheet" href="nav.css" />
  </head>
  <body>
    <%- include('./includes/nav.ejs')%>

    <main>
      <h2>Users list</h2>
      <% if (users.length === 0) {%>
        <h3>no users registered</h3>
      <% } %> 
      <% if (users.length > 0) {%>
        <ul class="main-user__list">
          <% for (let user of users) { %>
          <!-- for of loop for users array -->
          <li>
            <h2>Hello <%= user.name %></h2>
            <div>
              <p>Age: <%= user.age %></p>
            </div>
            <!-- <a href="/users/details">Details</a> -->
            
            <a href="/users/details/<%=user.id%>">Details</a>
          </li>
          <% } %>
        </ul>
      <% } %>
    </main>
  </body>
</html>
